

button {
  font-family: 'Work Sans', sans-serif;
  padding: var(--small-padding);
  border: 0.5vw solid white;
  border-radius: var(--border-radius-inner);
  margin: var(--margin);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  background-color: var(--font-color);


}

button:hover {
  box-shadow: 0 0 20px 0 whitesmoke inset, 0 0 0px 4px white;
  color: darkslateblue;
  background-color: var(--insideBackground);
  font-weight: 700;
}