footer {
     padding-top: 2em;
     padding-bottom: 2em;
     width: 100%;
     height: auto;
            
     display: grid;
     grid-template-columns: 1 fr;
     grid-template-rows: 1 fr;
         
     background-color: #b4b5a3;
            
     justify-content: center;
  }

.aha-logo {
     height: 7.5rem;
     width: 7.5rem;
     size: 100%;
     background-repeat: no-repeat;
     background-image:url('../images/aha-logo-resized.png');
     border-color: rgb(47, 46, 46);

  }



  

  @media only screen and (max-width: 700px){

    .aha-logo {
      height: 3rem;
      pointer-events: none;
      padding-left: 3vw;
      grid-template-columns: 1 fr span 1;
      
    }



  }

  