#profileContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #eeefdf;

}

.userInfo{
    margin-left: 50px;
    margin-right: 50px;
    grid-row: 1 / span 1;
    grid-column: 1 /span 1;
}

.titleHeader{
    text-align: center;
}

.pageHeader{
    text-align: center;
    font-size: large;
}

.headline {
    
    text-align: center;  
  }

#homeButton{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
}

.buttons{
    text-align: center;
    display: flex;
    justify-content: space-evenly;

}





@media only screen and (max-width: 700px){
   
}