#profileContainer{
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: stretch;
    justify-items: center;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.userInfo{
    margin-left: 50px;
    margin-right: 50px;
    grid-row: 1 / span 1;
    grid-column: 1 /span 1;
}

.titleHeader{
    text-align: center;
}

.pageHeader{
    text-align: center;
    font-size: large;
}

#profilePic{
    margin-bottom: 15px;
    margin-top: 15px;
    margin-right: 15px;
    grid-row: 2 / span 1;
    grid-column: 1 /span 1;
      
}

#homeButton{
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-content: space-around;
}

.buttons{
    text-align: center;
    display: flex;
    justify-content: space-evenly;

}





@media only screen and (max-width: 700px){
   
}